body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

img {
  max-width: 200px;
}

.verification-title {
  text-align: center;
  margin-top: 50px;
}

.verification-icon {
  display: block;
  margin: 30px auto;
  max-width: 100px;
}

.verification-message {
  text-align: center;
  color: #333;
  line-height: 1.6;
}

.login-link {
  display: block;
  text-align: center;
  background-color: #ddd;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  margin: 20px auto;
  width: 230px;
  border-radius: 5px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
}

.verification-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}
