{{#if error}}
  <h1>Error: {{error}}</h1>
  <p>{{message}}</p>
{{else}}
  <div class="verification-container">
    <h1 class="verification-title">EMAIL VERIFICATION SUCCESSFUL</h1>
    <p class="verification-message">Thank you for verifying your email address.</p>
    <p class="verification-message">Your account is now active and you can start
      shopping with us!</p>
     <div class="verification-icon">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="100"
      height="100"
      viewBox="0 0 100 100"
      fill="#4caf50"
    >
      <circle cx="50" cy="50" r="50" fill="#4caf50" />
      <path
        fill="#fff"
        d="M73.3 29.9L39 64.5 26.7 52.2 20 58.9 39 77.9 80 36.3z"
      />
    </svg>
  </div>

  {{!-- when working on local version --}}
  <a href="http://localhost:5173/auth/login" class="login-link">Login to start shopping</a>
  {{!-- when working on deployment version --}}
    {{!-- <a href="https://kiwiscode-canvas.netlify.app/auth/login" class="login-link">Login to start shopping</a> --}}

  
</div>
  </div>
{{/if}}